body {
    padding: 0;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* centers the content horizontal */
  }
  
  main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; /* centers the child element horizontal */
  }
  
  #game-intro {
    position: relative;
    width: 1200px;
    height: 800px;
    background-image: url('../images/path-forest.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;
  }
  
  #game-intro .logo-img {
    display: none; 
  }
  
  #game-intro button, #game-intro p {
    position: relative; /* these elements will be displayed over the background */
    z-index: 10;
  }

  #introduction {
    background-color: rgba(61, 61, 61, 0.632); 
    color: white;
    padding: 10px; 
    margin: 20px;
    border-radius: 5px;
  }

  #introduction ul {
    text-align: left;
  }

  #titleLogo {
    width: 300px;
  }
  
  #start-button {
    padding: 10px 20px;
    font-size: 18px;
    margin: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #game-container {
    position: relative;
    width: 1200px;
    height: 800px;
    display: flex;
    justify-content: center;
    padding: 0; /* padding to 0 to make sure nothing moves */
  }

  /* Hide stats bar when game-intro is visible */
  #game-intro:not([style*="display: none"]) ~ #game-container {
  display: none;
  }
  
  /* Stats Bar at the top */
  #game-container > div:first-child {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100; /* making sure its over other elements */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: rgba(76, 175, 80, 0.7); 
    padding: 5px 20px;
    height: 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  /* h2 and p-elements in one line */
  #game-container > div:first-child h2,
  #game-container > div:first-child p {
    margin: 0 10px;
    color: white;
    text-shadow: 1px 1px 2px rgba(15, 29, 0, 0.927);
    display: inline-block; /* one line */
  }
  
  /* style the "Stats" (or even hide it?) */
  #game-container > div:first-child h2 {
    font-size: 16px;
    margin-right: 20px;
  }
  
  /* Style for span-element (value) */
  #game-container > div:first-child span {
    font-weight: bold;
    margin-left: 5px;
  }
  
  #game-screen {
    display: none;
    align-content: center;
    width: 1200px;
    height: 800px;
    overflow: hidden;
    position: relative;
    background-image: url(../images/path-forest.jpg);
    background-size: cover;
    background-position: center;
    padding: 0;
  }
  
  @keyframes slide {
    0% {
      background-position: 0 -1000px;
    }
    95% {
      background-position: 0 0;
    }
    100% {
      background-position: 0 50px;
    }
  }
  
  #game-end {
    display: none;
    position: relative;
    width: 1200px;
    height: 800px; 
    background-image: url('../images/path-forest.jpg'); /* big picture in background */
    background-size: cover;
    background-position: center;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto; 
  }
  
  #game-end h1, #game-end button {
    position: relative; /* this element will be displayed over the background */
    margin-top: 30px;
    z-index: 10;
    color: white; /* game over text white */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
  }
  
  #game-end button {
    padding: 10px 20px;
    font-size: 18px;
    margin: 40px;
    background-color: #4CAF50;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #game-end p {
    color: white;
    font-size: 2em;
  }

  /* #game-end .logo-img {
    display: none; /* hiding the img element, since we use the background 
  } */
  
  .game-intro p {
    font-size: 18px;
    font-family: "Verdana";
  }
  
  .logo-img {
    width: 350px;
  }
  
  .arrows-img {
    width: 150px;
  }
  
  body button {
    font-size: 20px;
    background-color: #03581a;
    color: #fff;
    padding: 10px 20px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
  }